.bannerSetting {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 55vh;
  width: 100vw;
}

.HomeBanner_1 {
  background-image: url("../images/HomeBanner-1.jpg");
}

.HomeBanner_2 {
  background-image: url("../images/HomeBanner-2.jpeg");
}

.HomeBanner_3 {
  background-image: url("../images/HomeBanner-3.jpg");
}

.swiper {
  position: relative;
}

.main {
  padding: 0.5rem 1.75rem;
}
.section {
  margin: 1rem auto 2.5rem;
  padding-top: 1.25rem;
}

.sectionTitle {
  text-align: center;
  padding-bottom: 2rem;
  font-family: "Caveat", "Lato", "Combo", cursive, sans-serif;
  font-size: 2.25rem;
  color: #1eae12;
}

.introduction {
  line-height: 1.85;
  padding: 1.5rem 0.75rem 1rem;
  letter-spacing: 0.05rem;
  background-image: url("../images/taiwan-outline.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 3.5rem;
}

.featureItem {
  width: 98%;
  margin: 0 auto 2rem;
  padding: 1.2rem;
}

.featureImg {
  border-radius: 5rem 0;
  box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;
}

.feature {
  max-width: 21.5rem;
  font-size: 0.85rem;
  padding: 0.75rem 1.5rem;
  line-height: 1.5;
  background-color: #cfff0f;
  border-radius: 0 4rem 0 2rem;
}
.oppositeFeatureImg {
  border-radius: 0 7rem;
}
.oppositeFeature {
  border-radius: 4rem 0 2rem 0;
  text-align: right;
}

.parallaxImg1 {
  height: 22rem;
}

.popularOptionImg {
  border-radius: 1.5rem;
  box-shadow: 10px 13px 13px -3px rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 10px 13px 13px -3px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 10px 13px 13px -3px rgba(0, 0, 0, 0.87);
}

.popularOptionList {
  margin: 2rem auto auto;
  padding: 0.5rem;
}

.optionItem {
  margin-bottom: 4.25rem;
  position: relative;
}

.optionTitle {
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  background-color: #e6f5e5;
  color: black;
  font-weight: 900;
  font-size: 1.2rem;
  padding: 1rem;
  border-radius: 2rem;
}

.medal {
  position: absolute;
  bottom: 4.5rem;
  left: 1rem;
  background-color: rgb(249, 249, 240);
  border-radius: 2rem;
}

.contactInfoList {
  max-width: 25rem;
  margin: -4.5rem auto 5rem;
  padding-left: 1.25rem;
}

.contactTitle {
  color: #1eae12;
}

.contactInfoItem {
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  font-size: 0.85rem;
  margin-bottom: 3rem;
}

.contactContent p {
  padding-bottom: 0.25rem;
}

@media only screen and (min-width: 32rem) {
   .section{
    margin: 5rem 1.5rem;
  }

  .introduction {
    width: 28rem;
    margin: 0 auto;
    font-size: 0.95rem;
    line-height: 2.2;
  }
  
  .contactInfoList{
    padding-bottom: 5rem;
  }

  .contactInfoItem {
    gap: 3.5rem;
    font-size: 1rem;
  }

}
@media only screen and (min-width: 48rem) {
  .bannerSetting {
    height: 90.9vh;
  }

  .introduction {
    margin-bottom: 5.5rem;
    font-size: 1.1rem;
  }

  .featureItem {
    max-width: 55%;
    margin: 0 auto 3rem;
  }
  .feature {
    font-size: 1.15rem;
  }

  .popularOptionList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    /* outline:1px solid red; */
    max-width: 60rem;
    margin: 0 auto;
    padding: 2.5rem;
  }

  .popularOptionImg {
    height: 14rem;
    width: 80%;
    margin: 0 auto;
  }

  .optionTitle{
    bottom: 0;
    left: 1.75rem;
    padding: 0.5rem;
  }

  .medal{
    bottom:2rem;

  }


  .contactInfoItem {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    font-size: 1.15rem;
  }

  .contactInfoList {
    max-width: 48rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (min-width: 64rem) {
  .popularOptionImg {
    width: 72.5%;
  }
}

@media only screen and (min-width: 72rem) {
  .sectionTitle {
    padding: 2rem 0;
  }
  .introduction {
    width: 38.5rem;
    margin-top: 2.5rem;
  }
  .featureList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    max-width: 85rem;
    margin: 0 auto;
  }

  .featureItem {
    min-width: 95%;
  }

  .oppositeFeature {
    border-radius: 0 4rem 0 2rem;
    text-align: left;
  }

  .oppositeFeatureImg {
    border-radius: 5rem 0;
  }

  .parallaxImg1 {
    height: 48rem;
  }

  .popularOptionList {
    grid-template-columns: repeat(3, 1fr);
  }

  .contactInfoList {
    max-width: 52rem;
  }
}
