.wrapper{
  padding: 1.5rem;
  font-size: 0.75rem;
  background-color: #E6F5E5;
}

.styleFlex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactTitle{
  padding: 0.55rem;
}

.contactItem{
  padding-top: 0.35rem;
}

.contactItem a {
  color: black;
}

.contactItem a:hover {
  color:#1EAE12;
}

.staffLogInBtn{
  display: block;
  border-radius: 1.1rem;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem auto ;
  background-color: #1EAE12;
  color: bisque;
}

.staffLogInBtn:hover {
  cursor: pointer;
  color:#1EAE12;
  background-color: black;
}

.copyright{
  margin: 5rem 0 0;
  text-align: center;
  color: #1EAE12;
}


@media only screen and (min-width: 48rem){
  .wrapper{
    padding: 2rem 4.25rem;
    font-size: 0.85rem;
  }

  .staffLogInBtn{
    max-width: 9rem;
    margin: 1rem auto;
    padding: 1rem;
  }
}

@media only screen and (min-width: 72rem){
  .wrapper{
    font-size: 1.15rem;
    padding: 2.5rem 20rem;
  }
}