.wrapper{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.LogoMobile{
  display: block;
  padding: 0.85rem  3rem 0.25rem  0.5rem;
}

.navWrapper{
  position: relative;
}
.menuIconContainer{
  margin: 1.5rem;
}

.menuIcon{
  color: #1EAE12;
  stroke-width: 0.5rem;
  stroke: #CFFF0F;
}

.nav{
  min-width: 100vw ;
  height: 100vh;
  position: absolute;
  background-color: rgba(255,255,255,0.45);

}

.xlNav {
  display: none;
}

.navList{
  padding-left: 1.125rem;
  padding-bottom: 2.5rem; 
}

.navItem{
  display: block;
  padding: 1.25rem 5rem;
  font-size: 1.25rem;
  color: rgb(1, 0, 0);
  font-weight: 900;
  text-align: center;
}

.navItem:hover{
  background-color: #1EAE12;
  color:antiquewhite;
}

.close{
  color:red;
  position: absolute;
  top: 0.55rem;
  right: 0.75rem;
}

@media only screen and (min-width: 48rem){
  .LogoMobile, .navWrapper{
    display: none;
  }

  .xlNav{
    display: block;
    min-width: 100%;
    margin: 0 auto;
    padding: 1.15rem 1.2rem;
    background-color:#E6F5E5 ;
  }
  .xlNavList{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .xlNavItem{
    display: block;
    padding: 1.125rem;
    font-size: 0.85rem;
    color: rgb(1, 0, 0);
    font-weight: 900;
  }

  .xlNavItem:hover{
    color:#1EAE12;
  }

  .xlListFlex{
    display: flex;
    justify-content: space-between;
  }
}


@media only screen and (min-width: 75rem){
 .xlNav{
  padding: 1.25rem 4.5rem;
 }

 .xlNavItem{
  font-size: 1rem;
 }
}